<div class="side-nav link-list">
  <a href="#" class="active">
    <span class="title">Picking complementary colors</span>
    <span class="copy">Blah blah colors, blah blah design, something about sketch&hellip;</span>
  </a>
  <a href="#">
    <span class="title">Creating a repeating pattern in sketch</span>
    <span class="copy">Blah blah colors, blah blah design, something about sketch&hellip;</span>
  </a>
  <a href="#">
    <span class="title">Exporting assests for iOS</span>
    <span class="copy">Blah blah colors, blah blah design, something about sketch&hellip;</span>
  </a>
</div>