<div class="side-nav link-list">
  <a href="/hsb-best-way-to-pick-color" class="active">
    <span class="title">Why HSB is the best way to pick color</span>
    <span class="copy">Use hue, saturation, and brightness for a more intuitive way
    to understand, modify, and create harmonious color palettes&hellip;</span>
  </a>
  <a href="/example-post">
    <span class="title">Example post</span>
    <span class="copy">Blah blah colors, blah blah design, something about sketch&hellip;</span>
  </a>
</div>