<nav class="navbar navbar-pdm navbar-fixed-top">
  <div class="row">
    <div class="col-sm-6">
      <a href="/" class="logo">
        <span class="wordmark">
          <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
   viewBox="0 0 48 12" style="enable-background:new 0 0 48 12;" xml:space="preserve">
<style type="text/css">
  
  .st2{fill:none;;stroke-linejoin:round;stroke-miterlimit:10;}
  .st3{fill:none;}
</style>
<g>
  <rect y="2" class="st0" width="14" height="9"/>
  <circle class="st0" cx="7" cy="10" r="2"/>
  <rect y="1" class="st1" width="6" height="9"/>
  <rect y="2" class="st1" width="7" height="8"/>
  <circle class="st1" cx="6" cy="2" r="1"/>
  <rect x="8" y="1" transform="matrix(-1 -4.486867e-11 4.486867e-11 -1 22 11)" class="st1" width="6" height="9"/>
  <rect x="7" y="2" transform="matrix(-1 -4.469548e-11 4.469548e-11 -1 21 12)" class="st1" width="7" height="8"/>
  <circle class="st1" cx="8" cy="2" r="1"/>
  <path class="st2" d="M0,9.5h6c0.3,0,0.5,0.2,0.5,0.5l0,0c0,0.3,0.2,0.5,0.5,0.5l0,0c0.3,0,0.5-0.2,0.5-0.5l0,0
    c0-0.3,0.2-0.5,0.5-0.5h6"/>
  <g>
    <rect x="9" y="4" class="st3" width="2" height="2"/>
    <path class="st4" d="M8,3v4h3c0.6,0,1-0.4,1-1V4c0-0.6-0.4-1-1-1H8z M11,6H9V4h2V6z"/>
  </g>
  <g>
    <rect x="3" y="4" class="st3" width="2" height="1"/>
    <path class="st4" d="M2,3v4h1V6h2c0.6,0,1-0.4,1-1V4c0-0.6-0.4-1-1-1H2z M5,5H3V4h2V5z"/>
  </g>
</g>
<g>
  <rect x="40" y="5" class="st0" width="2" height="1"/>
  <rect x="25" y="5" class="st0" width="2" height="1"/>
  <path class="st0" d="M22,4h-1c-0.2,0-0.4,0.1-0.5,0.2C20.4,4.1,20.2,4,20,4h-1c-0.6,0-1,0.4-1,1v3h1V5h1v3h1V5h1v3h1V5
    C23,4.4,22.6,4,22,4z"/>
  <path class="st0" d="M32,4h-2c-0.6,0-1,0.4-1,1v3h1V5h2v3h1V5C33,4.4,32.6,4,32,4z"/>
  <path class="st0" d="M37,7h-2V4h-1v3c0,0.6,0.4,1,1,1h2c0.6,0,1-0.4,1-1V4h-1V7z"/>
  <path class="st0" d="M45,7V4h-1v3c0,0.6,0.4,1,1,1h3V7H45z"/>
  <path class="st0" d="M27,4h-2c-0.6,0-1,0.4-1,1v1v1v1h1V7h2v1h1V7V6V5C28,4.4,27.6,4,27,4z M25,6V5h2v1H25z"/>
  <path class="st0" d="M42,4h-2c-0.6,0-1,0.4-1,1v1v1v1h1V7h2v1h1V7V6V5C43,4.4,42.6,4,42,4z M40,6V5h2v1H40z"/>
</g>
<g>
  <rect x="40" y="4" class="st3" width="2" height="1"/>
  <rect x="25" y="4" class="st3" width="2" height="1"/>
  <path class="st1" d="M22,3h-1c-0.2,0-0.4,0.1-0.5,0.2C20.4,3.1,20.2,3,20,3h-1c-0.6,0-1,0.4-1,1v3h1V4h1v3h1V4h1v3h1V4
    C23,3.4,22.6,3,22,3z"/>
  <path class="st1" d="M32,3h-2c-0.6,0-1,0.4-1,1v3h1V4h2v3h1V4C33,3.4,32.6,3,32,3z"/>
  <path class="st1" d="M37,6h-2V3h-1v3c0,0.6,0.4,1,1,1h2c0.6,0,1-0.4,1-1V3h-1V6z"/>
  <path class="st1" d="M45,6V3h-1v3c0,0.6,0.4,1,1,1h3V6H45z"/>
  <path class="st1" d="M27,3h-2c-0.6,0-1,0.4-1,1v1v1v1h1V6h2v1h1V6V5V4C28,3.4,27.6,3,27,3z M25,5V4h2v1H25z"/>
  <path class="st1" d="M42,3h-2c-0.6,0-1,0.4-1,1v1v1v1h1V6h2v1h1V6V5V4C43,3.4,42.6,3,42,3z M40,5V4h2v1H40z"/>
</g>
</svg>

        </span>
<!--         <small class="tagline">A visual encyclopedia of digital product design skills.</small>
 -->  </a>    
    </div>
    <div class="col-sm-6">
      <ul class="nav navbar-nav pull-sm-right">
        <li class="nav-item active">
          <a class="nav-link" href="/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contribute">Contribute</a>
        </li>
      </ul>
    </div>
  </div>
</nav>