<nav class="navbar navbar-pdm navbar-fixed-top">
  <div class="row">
    <div class="col-sm-6">
      {% include logomark.html %}
    </div>
    <div class="col-sm-6">
      <ul class="nav navbar-nav pull-sm-right">
        {% for link in site.main_navigation %}
          {% assign current = nil %}
          {% if page.url == link.url or page.layout == link.layout %}
            {% assign current = 'active' %}
          {% endif %}

          <li class="nav-item {% if forloop.first %}first{% endif %} {{ current }} {% if forloop.last %}last{% endif %}">
            <a class="nav-link" href="{{ link.url }}">{{ link.text }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</nav>