body {
  font-size: 16px;
  line-height: 1.5;
}

.side-nav,
.content {
  height: 100vh;
  padding-top: 50px + $spacer;
}

[class*="container"] {
  overflow: hidden;
}

.side-nav_primary {
  background: #eee;
}

.side-nav_secondary {
  background: #ddd;
}

.no-padding {
  padding: 0;
}

