//mixins
@mixin default-shadow {
  box-shadow: 0 2px 4px transparentize($color-dark-xtr,.7);
}

@mixin truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

body {
  font-size: 16px;
  line-height: 1.5;
}

a {
  transition: all 0.35s ease-in;
  text-decoration: none;

  &:hover {
    transition: all 0.2s ease-out;
  }

  &:active, &:focus {
    text-decoration: none;
  }
}

small {
  font-size: 75%;
}

.side-nav {
  height: 100vh;
  padding-top: 64px;
}

.content {
  @include make-col();
  height: 100vh;
  padding: 64px 0px 0px 0px;
  overflow-y: auto;
  flex: 2;
  z-index: 2;
  background: $color-light-xtr;
}

[class*="container"] {
  overflow-x: hidden;
}

.side-nav-primary {
  @include make-col();
  background: $color-dark;
  padding: 0;
  flex: 0 0 100px;
  
}

.side-nav-secondary {
  @include make-col();
  @include default-shadow;
  background: $color-light;
  padding: 0;
  flex: 1;
}

.no-padding {
  padding: 0;
}

.no-padding-left {
  padding-left: 0;
}

.layout-shadow-left {
  box-shadow: -1px 0 0 rgba(#000, 0.07), -2px 0 10px 0 rgba(#4E2A21, 0.1);
}

.category-list {
  list-style: none;
  padding: 0;
  text-align: center;

  a {
    padding: 1rem;
    display: block;
    color: $color-dark-xtr;
    text-decoration: none;
    font-size: .6875rem;
    text-transform: uppercase;
    line-height: 1rem;
    @include truncate;
    &.active {
      background: $color-light;

      &:hover {
        background: $color-dark;
      }
      @include default-shadow;
      .category-list__icon {
        &:before {
          background: $color-accent;
          color: $color-accent-dark;
        }
      }
    }

    &:hover {
      background-color: rgba(#000, 0.2);
      color: #fff;
      text-decoration: none;
    }
  }
}

.category-list__icon {
  &:before {
    background: $color-dark-md;
    border-radius: 50%;
    display: block;
    font-size: 1.5rem;
    height: 48px;
    line-height: 2rem;
    padding: .5rem;
    margin: 0 auto;
    text-align: center;
    vertical-align: middle;
    width: 48px;
    margin-bottom: .5rem;
  }
}

.logo {
  &:hover,
  &:active,
  &:focus,
  &:visited {
    color: #fff;
    text-decoration: none;
  }

  small {
    color: $gray-light;
  }
}

.logomark {
  display: block;
  float: left;
  line-height: 1.45;
  font-size: 1.8rem;
  padding-right: 1rem;
  color: #7889B5;
}

.wordmark {
  display: block;
  font-size: 1.4rem;
  font-style: italic;
  font-weight: bold;
  line-height: 2rem;
}

.tagline {
  display: block;
  font-size: .75rem;
  line-height: 1rem;
}

.link-list {
  a {
    display: block;
    padding: $spacer;

    &:hover {
      text-decoration: none;
      background: rgba(#000, 0.1);
    }

    &.active {
      background-color: $color-light-xtr;

      &:hover {
        background-color: #f8f8f8;
      }
    }

    .title {
      font-weight: bold;
      display: block;
    }

    .copy {
      color: $body-color;
      display: block;
    }
  }
}

section {
  margin: 0;
  padding: ( $spacer * 2 );
}

.post {
  header {
    padding-left: $spacer;
    padding-right: $spacer;
  }
}

.post-title {
  text-align: center;
  font-weight: 100;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 2rem 1rem;
}

.post-subtitle {
  font-weight: 300;
  text-align: center;
  font-style: italic;
  line-height: 1.3;
  font-size: 1.5rem;
  padding-bottom: 3rem;
  border-bottom: 1px solid $color-border;
}

.post-meta {
  font-size: 0.7rem;
  text-transform: uppercase;
  font-weight: normal;
  letter-spacing: 0.25px;
  text-align: center;
  margin-bottom: $spacer * 3;
  color: $gray-light;
}

//custom nav
.navbar-pdm {
  background: $color-accent;
  @include default-shadow;
  .navbar-nav {
    .nav-link {
      color: $color-dark-md;

      @include hover-focus {
        color: $color-dark;
      }
    }

    .open > .nav-link,
    .active > .nav-link,
    .nav-link.open,
    .nav-link.active {
      @include plain-hover-focus {
        color: $navbar-dark-active-color;
      }
    }
  }
}

.list-group-item {
  padding: $spacer-md $spacer;  
}

//nav
.navbar {
  padding: $spacer;
}
.navbar-nav .nav-link {
  padding: $spacer-xs;
}

