$enable-flex:               true !default;

$font-family-sans-serif:     "FreightSans Pro", Helvetica, Arial, sans-serif !default;

//spacing
$spacer-xs: .25rem;
$spacer-sm: .5rem;
$spacer-md: .6875rem;
$spacer: 1rem; 
$spacer-lg: 1.5rem;
$spacer-xl: 2rem;

/********************\
      \     |    |    |
      _/************w/
     |  )    ,| 
     _>******Y    # Color Palettes
    |  )    ,| 
    _>******Y     - Uses numbered colors, and tries to keep numbers harmonious and as
   |  )    ,|       forgiving as possible.
 \  \******Y      - Namespace to add new palettes (e.g. $NEW-red-1)
--\----*/

$tc-red-1:      #FF7754;
$tc-yellow-1:   #FFF8D3;
$tc-white-1:    #F3F2F1;

.bg-tc-red-1 {
  background: $tc-red-1;
  color: $tc-yellow-1;
}

.color-tc-red-1 {
  color: $tc-red-1;
}

.bg-tc-yellow-1 {
  background: $tc-yellow-1;
}

.bg-tc-white-1 {
  background: $tc-white-1;
}



// Site colors

$color-border: gray;

$color-brand:       #FC6E51;  //logo, special CTAs

$color-light-xtr:   #F7F9FC;  //essentially white
$color-light:       #E4E6EB;  //list heading backgrounds
$color-light-md:    #CCCFD9;  //borders 
$color-dark:        #9CA5B2;  //icons
$color-dark-md:     #828D9E;  //subtext
$color-dark-xtr:    #494A4A;  //body text, headings, main nav background
 
$color-accent:      #FC6E51;  //links, primary buttons, etc... hsl(10.2, 96.6%, 65.3%)
$color-accent-dark: adjust-color($color-accent, $saturation:-24.4%, $lightness:-15.9%); //#D94123 hsl(9.9, 72.2%, 49.4%)

//Overrides to variables
$gray-dark:                 $color-dark-xtr !default;
$gray:                      $color-dark-md !default;
$gray-light:                $color-dark !default;
$gray-lighter:              $color-light-md !default;
$gray-lightest:             $color-light !default;

$brand-primary:             $color-accent !default;
$brand-success:             #5cb85c !default;
$brand-info:                #5bc0de !default;
$brand-warning:             #f0ad4e !default;
$brand-danger:              #d9534f !default;

$body-color:                    $color-dark-xtr !default;
$btn-padding-x:                  $spacer !default;
$btn-padding-y:                  $spacer-md !default;
$btn-primary-color:              $color-light-xtr !default;
$btn-primary-bg:                 $color-accent !default;
$btn-primary-border:             $color-accent !default;

$input-padding-x:                $spacer !default;
$input-padding-y:                $spacer-md !default;
