  {% include _head.html %}

  <body>
    
    <div class="container-fluid no-padding">

      <div class="row">
        
        <div class="col-xs-12">
          {% include top-nav.html %}
        </div>
        
        <div class="side-nav-primary">
          {% include side-nav-primary.html %}
        </div>

        <div class="side-nav-secondary">
          {% include side-nav-secondary.html %}
        </div>
        
        <div class="content">
            {{ content }}
        </div>

      </div>

    </div>
      
  </div>

{% include _footer.html %}
