  {% include _head.html %}

  <body>
    
    <div class="container-fluid no-padding">

      <div class="row">
        
        <div class="col-xs-12">
          {% include top-nav.html %}
        </div>
        
        <div class="col-xs-4 col-sm-2 side-nav_primary">
          {% include side-nav-primary.html %}
        </div>

        <div class="col-xs-6 col-sm-3 side-nav_secondary">
          {% include side-nav-secondary.html %}
        </div>
        
        <div class="col-sm-7 no-padding layout-shadow-left">
          <div class="content">
            {{ content }}
          </div>
        </div>

      </div>

    </div>
      
  </div>

{% include _footer.html %}
